{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
      "version": "17.0.2"
    }
  },
  "plugins": [
   "react",
   "react-hooks",
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
     "jsx": true
    }
  },
  "ignorePatterns": [
    "node_modules/",
    "**/node_modules/**",
    "**/node_modules/**/.eslintrc",
    "**/*.css"
  ],
  "rules": {
    "eqeqeq": 1,
    "indent": [1, 2, { "SwitchCase": 1 }],
    "max-len": ["error", { "code": 120, "tabWidth": 2, "ignoreStrings": true }],
    "no-else-return": 1,
    "no-console": 1,
    "semi": [1, "never"],
    "space-infix-ops": 1,
    "space-unary-ops": 1,
    "yoda": 1,
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": false
        },
        "singleline": {
          "delimiter": "comma",
          "requireLast": false
        }
      }
    ]
  }
}
