.App {
  width: 100vw;
  height: 100vh;
  background-color: #ccffcc;
  padding: 0px;
  margin: 0px;
}

.nav {
  min-width: 300px;
  width: 90%;
  min-height: 16px;
  height: 3vh;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 6px;
}

.box {
  display: flex;
}

.main {
  text-align: center;
  background: rgba(32, 32, 32, 0.1);
  border-radius: 6px;
  padding: 10px;
  min-width: 300px;
  width: 90%;
  height: 92vh;
  margin: auto;
}

.sound {
  overflow: hidden;
  resize: horizontal;
  width: 250px;
  height: 100%;
}

.sound > iframe {
  overflow: auto;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

@media screen and ( max-width: 400px) {
  .message-list {
    height: 73vh;
    word-wrap: break-word;
    overflow-y: auto;
    margin: auto;
  }
}

@media screen and ( min-width: 400px) {
  .message-list {
    height: 81vh;
    word-wrap: break-word;
    overflow-y: auto;
    margin: auto;
  }
}

.message {
  text-align: left;
  background-color: #99ffcc;
  border-radius: 6px;
  padding: 10px;
  margin: 10px 20px;
}

form {
  width: 100%;
}

form input[type="text"] {
  border: none;
  padding: 6px;
  margin: 10px 0px;
  border-radius: 6px;
  width: 85%;
}

form input[type="submit"] {
  width: 10%;
  max-width: 5vw;
  border: none;
  padding: 6px 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
  border-radius: 6px;
}

.options {
  width: 90%;
  padding: 0px 4%;
  font-size: 8px;
}
